body {
    background-image: linear-gradient(red, rgb(0, 255, 55));
}

#homepage_title {
  font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 40px; font-weight: bold;
}

.index {
  color: #000000; font-family: "Helvetica Neue",Arial,sans-serif; font-size: 16px; font-weight: 300; line-height: 1.5625; margin-bottom: 15px;
}

.container{
    
}

.table_div {
    float: center;
}

.menu{
  height: 70px;
}

.menu ul{
  width: auto;
  float: left;
}

.menu li{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 40px;
  justify-content: center;
  align-items: center;
  float: left;
}

.nav{
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2vw;
  margin-bottom: 6px;
}

#btnSubmit {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

#btnSubmit:hover,
#btnSubmit:focus {
  opacity: .75;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=number]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}