body {
    background-image: linear-gradient(red, rgb(0, 255, 55));
}

#homepage_title {
    text-align: center;
}

.container{
    
}

.table_div {
    margin: auto;
    width: 50%;
}

.btnBeheer{
  position: relative;
  background-color: rgb(255, 50, 55);
  border: none;
  font-size: 28px;
  color: #000000;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}